.container {
  width: 50%;
  display: grid;
}
.follow {
  gap: 2rem;
  display: flex;
}
.button {
  background-color: #5face0da;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 3px 9px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 0.9rem;
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {

  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 50%;
  }
}