.main {
  display: flex;

}
.tweetBody{
  width:80%;
}
.tweet {
 width: 40%;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  border: 1px solid #eeeeee;
  border-radius: 0;

  background-color: #fff;
}
.tweetBodyText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #dbe2ee;
}

.tweetInfo {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  /* Twitter Slate 100 */

  color: #555a64;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  width: auto;
  display: flex;
  justify-content: space-between;

  padding-bottom: 5px;
  gap: 1rem;
}
.tweetFooter {
  width: auto;
  display: flex;
  gap: 0.5rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #555a64;
}
@media (max-width: 575.98px) {
  .tweet {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .tweet {
    width: 100%;
  }
}

@media (min-width: 768px) {

  .tweet {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .tweet {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .tweet {
    width: 40%;
  }
}