.followerButton{
    background-color: rgb(254, 252, 252);
    width: 150px;
    height: 35px;
    margin: 15px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: rgb(89, 87, 87);
    border: solid black ;
    border-width: 1px;
    border-radius: 20px;
    
}